<div class ="progress">
    
    <div class = "progress_fill" style="{{this.value}}"></div>
    {{!-- <div class = "progress_fill" style="width: 20%;"></div> --}}
    {{!-- <span>25%</span> --}}
    {{!-- <p>{{this.value}}</p> --}}

</div>