<body>
    <div class="header">
    <span style="font-size:50px">Virtual Cards</span>
    <span style="float: right; top:15px; position:relative; padding-right: 2%; " ><button class="add_button" type="button" style="background-color:white;padding: 7px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); border:1px;">+ Virtual Card</button></span>
    </div>
    <br/>
    {{outlet}}   
</body>
